@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body {
	// background-color: #2e2e2e;
	color: #fff;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}

#navbar-custom {
	.social-div {
		display: flex;
		margin-top: 7px;

		a {
			margin: 0 1em;
			color: #000;
			font-size: 1.4em;
		}
	}

	.main-logo {
		width: 100%;
	}

	.navbar-nav {
		display: flex !important;
		flex-direction: row;
		right: 0;
		margin-top: 5px;

		.nav-item {
			margin: 0 1em;
			color: #000;
			font-weight: 500;

			a {
				padding-left: 8px;
				padding-right: 8px;
				border-radius: 8px;

				&:hover {
					background-color: #2e2e2e;
					color: #fff;
					transition: all 0.5s ease-out;
				}
			}
		}
	}
}

#jumbotron {
	padding: 5.5em 0;

	.main-banner {
		min-height: 600px;

		#left-banner {
			#bg-banner {
				background-image: url(../image/main-bg.jpg);
				background-size: cover;

				background-repeat: no-repeat;
				min-height: 600px;
			}
		}

		#right-banner {
			.slideshow-container {
				display: flex;
				place-content: center;
				min-height: 600px;
			}

			.myslides {
				display: flex;
				align-items: center;

				img {
					width: 300px;
				}
			}

			.fade {
				animation-name: fade;
				animation-duration: 2s;
			}

			@keyframes fade {
				from {
					opacity: 0.5;
				}
				to {
					opacity: 1;
				}
			}
		}
	}
}
